@import 'reset';
@import 'themes';

body {
  margin: 0;
}

.center {
  margin: 10px auto;
}

.width50 {
  width: 50%;
}

.width75 {
  width: 75%;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.float-left {
  float: left;
}

.margin10 {
  margin: 10px;
}

.padding10 {
  padding: 10px;
}

.quebrar-linha {
  white-space: pre-line;
}
@media screen and (max-width: 750px) {
  html{
    font-size: 8px;
  }

  .mat-cell{
    text-align: center!important;
  }
  .cdk-column-data{
    text-align: left!important;
  }
  .cdk-column-hora{
    display: none;
  }
}
@media screen and (max-width: 650px) {

  html{
    font-size: 6px;
  }

  .mat-cell{
    text-align: center!important;
  }
  .cdk-column-data{
    text-align: left!important;
  }
  .cdk-column-hora{
    display: none;
  }
}